@model List<User>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
<div class="col">
    <div class="row">
        <a href="/new">Chefs</a>
        <a href="">Dishes</a>
        <a href="">Add a Dish</a>
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Check out our roster of Chefs!</h1>
    <hr>
    
    <table class="table table-bordered border-primary">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Birth Date</th>
            <th scope="col"># of Dishes</th>
          </tr>
        </thead>
        <tbody>

        @foreach (var user in Model)
        {
          <tr>
            <td>@user.FirstName </td>
            <td>@user.BirthDate</td>
          </tr>
        } 
        </tbody>
      </table>
</div>
</div>