@model User

<div class="container">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Add a User! </h1>
        <a href="/" class="link-primary">Home</a>
      </div>
    </div>
  </div>

<form class="row g-6" asp-controller="users" asp-action="create" method="POST">
  <div class="col-md-6">
    <label asp-for="FirstName" class="form-label">First Name</label>
    <span asp-validation-for="FirstName" class="text-danger font-weight-bold"></span>
    <input asp-for="FirstName" class="form-control" />
  </div>


  <div class="col-md-6">
    <label asp-for="LastName" class="form-label">Last Name</label>
    <span asp-validation-for="LastName" class="text-danger font-weight-bold"></span>
    <input class="form-control" asp-for="LastName">
  </div>

  <div class="col-md-6">
    <label asp-for="BirthDate" class="form-label">Date</label>
    <input class="form-control" asp-for="BirthDate">
  </div>

  <div class="col-6">
    <button class="btn-lg btn-primary mt-4 ml-4">Add User</button>
  </div>
</form>
</div>