@model List<Dish>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
<div class="col">
    <div class="row">
        <a href="/new">Chefs</a>
        <a href="">Dishes</a>
        <a href="">Add a Dish</a>
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Check out our roster of Chefs!</h1>
    <hr>
    
    <table class="table table-bordered border-primary">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>

        @foreach (var dish in Model)
        {
          <tr>
            <td>@dish.Name</td>
            <td>@dish.Calories</td>
            <td>@dish.Taste</td>
          </tr>
        } 
        </tbody>
      </table>
</div>
</div>
